.App {
    margin: 0;
    padding: 0;
    height: 100%;
    border: 1px solid blue;
    overflow: hidden;
}

.header{
    height: 50px;
}

.item-image-block{
    height: 200px;
    width: 200px;
}

.item-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.loading{
    z-index: 2000;
}